/* color scheme */
$background-main: #5df7f2;
$background-second: #27afa6;
$gamebar: #69ded5;
$sidebar-main: rgb(241, 251, 252, 0.65);
$sidebar-second: rgb(186, 201, 199, 0.4);
$dashboard: #eee;
$text-main: #59819a;

/* typography */


/* other */
$circle-radius: 200px;
$border-radius: 15px;

/* mixin */
@mixin flex-hori-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-vert-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// debugging

@mixin debug-red {
  border: 1px red solid;
}

@mixin debug-blue {
  border: 1px blue solid;
}

@mixin debug-green {
  border: 1px green solid;
}

@mixin circle-radius($multiplier) {
  height: $multiplier*$circle-radius;
  width: $multiplier*$circle-radius;
}

