@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', 'arial', sans-serif;
  color: $text-main;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.5rem;
}

.game-info__details h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.2rem;
}

/* ========
MAIN SECTION
=========== */

/* Active games */

.mainspace__active-games {
  font-size: 3rem;
}

/* Game info */

.game-info__perc {
  font-size: 2.2rem;
  font-weight: 700;
}