@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', 'arial', sans-serif;
  color: $text-main;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px
}