// layout

@mixin flex($direction: row, $justify: center, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}


// debugging

@mixin debug-red {
  border: 1px red solid;
}

@mixin debug-blue {
  border: 1px blue solid;
}

@mixin debug-green {
  border: 1px green solid;
}

@mixin layoutDebug($color: red, $thickness: 1) {
  border: #{$thickness}px #{$color} solid;
}

@mixin layoutDebugBg($color: red, $thickness: 1px) {
  border: #{$thickness} #{$color} solid;
  background-color: lighten($color, 40%);
}

//

