@import './config';
@import './typography';
@import './resets';
@import './utilities';
@import './desktop';


/* ========
GLOBALS
=========== */

body {
  height: 100vh;
  background: linear-gradient(to bottom right, $background-main, $background-second);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle1, .circle2 {
  border-radius: 50%;
  background: radial-gradient(rgba(255,255,255, 0.4), rgba(255,255,255, 0.65));
  position: absolute;
  z-index: -5;
}

.circle1 {
  @include circle-radius(3);
  top: -15%;
  right: 10%;
}

.circle2 {
  @include circle-radius(2);
  bottom: 6%;
  left: 7%;
}

.dashboard {
  
  width: 70%;
  // max-width: 900px;
  height: 70%;
  border-radius: $border-radius;
  background: rgba($dashboard,0.4);
  backdrop-filter: blur(15px);
  position: relative;
}




/* ========
SIDEBAR
=========== */

.sidebar {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  width: 25%;
  background: linear-gradient(to bottom right, $sidebar-main 66%, $sidebar-second 100%);
  border-radius: $border-radius;
}

.profile-card {
  @include flex-vert-center;
  position: relative;
  height: 25%;
  z-index: 5;

  &__pic {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    overflow: hidden;
  
    img {
      width: 85%;
      position:relative;
    }
  }
}

.sidebar__menu {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 0;
}

.grouper {
  display: flex;
  align-content: center;
  width: 100%;
  margin-left: 30%
}

.sidebar__icon1,
.sidebar__icon2,
.sidebar__icon3,
.sidebar__icon4 {
  height: 30px;
  width: 20%; /* sum with .grouper margin-left must be 50% to align in center */
}

.sidebar__icon1 {
  background-image: url(../media/twitch.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sidebar__icon2 {
  background-image: url(../media/steam.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sidebar__icon3 {
  background-image: url(../media/controller-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sidebar__icon4 {
  background-image: url(../media/library.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sidebar__menu-item {
  height: 30px;
}

.joinProCTA {
  background: linear-gradient(to bottom right, $background-main, $background-second);
  height: 15%;
  width: 80%;
  margin: 10% auto;
  border-radius: $border-radius;
  
  &__text {
    color: rgb(255, 255, 255);
    @include debug-blue;
    display: inline-block;
    margin-left: 10%;
    height: 100%;
    margin-top: 3%;

  }

  &__pic {
    @include debug-red;
    width: 40%;
    position: relative;
    bottom: 15%;
    float: right;
    margin-right: 10%;
  }

}


