@import './config';
@import './typography';
@import './resets';
@import './utilities';
@import './desktop';


/* ========
GLOBALS
=========== */

body {
  height: 100vh;
  background: linear-gradient(to bottom right, $background-main, $background-second);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle1, .circle2 {
  height: 200px;
  width:200px;
  border-radius: 50%;
  background: radial-gradient(rgba(255,255,255, 0.4), rgba(255,255,255, 0.65));
  position: absolute;
  z-index: -5;
}

.circle1 {
  top: 12%;
  right: 10%;
}

.circle2 {
  bottom: 12%;
  left: 10%;
}

.dashboard {
  
  width: 70%;
  // max-width: 900px;
  height: 70%;
  border-radius: $border-radius;
  background: rgba($dashboard,0.4);
  backdrop-filter: blur(15px);
  position: relative;
}




/* ========
SIDEBAR
=========== */

.sidebar {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  width: 25%;
  background: linear-gradient(to bottom right, $sidebar-main 66%, $sidebar-second 100%);
  border-radius: $border-radius;
}

.profile-card {
  display: flex;
  @include flex-center;
  position: relative;
  @include debug-layout;
  height: 25%;
  z-index: 5;
}

.profile-card__pic {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 85%;
    position:relative;
  }
}